body {
  background: url('#') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.orange-circle-button {
 box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
 border: .5em solid #B96018;
 font-size: 1em;
 line-height: 1.1em;
 color: #ffffff;
 background-color: #E7781E;
 margin: auto;
 border-radius: 50%;
 height: 10em;
 width: 10em;
 position: relative;
}
.orange-circle-button:hover {
 color:#ffffff;
 background-color: #e84d0e;
 text-decoration: none;
 border-color: #ff7536;
 
}
.orange-circle-button:visited {
 color:#ffffff;
    background-color: #e84d0e;
 text-decoration: none;
 
}
.orange-circle-link-greater-than {
    font-size: 1em;
}